# Core
fastapi==0.115.0
python-multipart
uvicorn[standard]==0.30.0
pydantic==2.9.0
python-dotenv==1.0.1

# Task Queue
celery==5.4.0
redis==5.0.0

# Database
pymongo==4.8.0

# PDF Processing
pymupdf>=1.24.4
requests==2.32.0

# Text Chunking
langchain-text-splitters==0.2.0

# Embeddings
fastembed
numpy>=1.26.0

# Groq AI
groq==1.4.0
gTTS==2.5.1
fpdf2==2.7.9